.cardsContainer {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cartWrapper{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    background-color: #ff81c8;
    

}

.cartSummary{
    display: flex;
    background-color: #84e9fb;
    flex-direction: column;
    height: 15rem;
    width: 30rem;
    align-items: center;
    justify-content: space-around;

}
.noItem{
    display: flex;
    background-color: #ff81c8;
}
 .cartDetails{
    display: flex;
    flex-direction: column;
} 

.pic{
    display: flex;
    height: 25px;
}

/* .card {
    width: 80px;
    height: 20px;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.card img {
    position: absolute;
} */

.mango {
    height: 20px;
    bottom: -10px;
    right: 20px;
}

.banana {
    height: 20px;
    bottom: 20px;
    right: 0px;
}

.veg {
    height: 20px;
    bottom: 30px;
    right: 20px;
}

.pink {
    background-color: #ff81c8;
}

.orange {
    background-color: #f9bb4a;
}

.blue {
    background-color: #84e9fb;
}

.caption {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #101010;
    letter-spacing: 3px;
}
/* .btnContainer{
    position: absolute;
    flex-direction: row;
    height: 10rem;
} */
.orderBtn{
    position: absolute;
    
    right: 40rem;
    
    width: 15%;
    height: 5%;
    align-items: center;
    border-radius: 5%;
    
    background-color: #f9bb4a;
    margin-top: 10px;
}

/* IMPORTATION DE CSS  */

.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
}

.cartLeft img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cartMiddle {
    flex: 1;
    padding: 0 20px;
}

.name {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.weight {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.price {
    position: relative;
}

.current {
    font-size: 18px;
    color: #ff5722;
    margin-bottom: 5px;
}

.was {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}

.discount {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #666;
    background-color: #fdd835;
    padding: 2px 5px;
    border-radius: 3px;
}

.cartRight {
    display: flex;
    align-items: center;
}
