.corp {
    position: absolute;
    right: 25rem;
    font-family: Arial, sans-serif;
    align-items: center;
    border: 1px solid black; 
    height: 40rem;
    width: 35rem;
    align-content: center;
}
.titre{
    display: flex;
    height: 50%;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

form {
    width: 300px;
    margin: 0 auto;
    align-items: center ;

}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

div .registerLink {
    position: absolute;
    top: 30rem;
    left: 35rem;
    text-align: center;
    cursor: pointer;
    color: #2a2a2a;
    text-decoration: underline;
    height: 20rem;
    width: 20rem;
}
